.contact-us-container {
  padding: 50px 20px;
  background-color: #F5F5F5;
  font-family: 'Arial', sans-serif;
}

.team-container {
  margin-bottom: 40px;
  text-align: center;
}

.team-title {
  color: #135E2F;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-shadow: 2px 2px #333;
  transition: font-size 2s;
}

.team-title:hover {
  font-size: 50px
}


.team-table {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.team-table th, .team-table td {
  padding: 15px 10px;
  text-align: center;
  border: 1px solid #ddd;
  font-size: 18px;
}

.team-table th {
  background-color: #135E2F;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.team-table td {
  background-color: #f9f9f9;
  color: #333;
}

.team-table tr:nth-child(even) td {
  background-color: #E5E5E5;
}

.map-container {
  text-align: center;
  margin-top: 50px;
}

.map-address {
  color: #135E2F;
  font-size: 24px;
  font-weight: bold;
  margin-top: 15px;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .team-title {
    font-size: 28px;
  }
  
  .team-table th, .team-table td {
    font-size: 16px;
  }
  
  .map-address {
    font-size: 20px;
  }
}
