.container {
  padding: 40px;
  border-radius: 12px;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card-header {
  color: #135E2F; /* Green color */
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px #BFD8BD;
}

svg {
  margin: 0 auto;
}

h1 {
  color: #1A531B;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-shadow: 1px 1px 2px #BFD8BD;
}

.card {
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.card-header {
  padding: 20px;
  border-radius: 12px 12px 0 0;
}

.card .list-group-item {
  font-size: 1rem;
  color: #1A531B;
  padding: 15px 20px;
  border: none;
  border-bottom: 1px solid #C9DFC7;
}

.card .list-group-item:last-child {
  border-bottom: none;
}

.card-header.bg-primary {
  background-color: #80AF81;
}

.card-header.bg-success {
  background-color: #4C8B67;
}

.card-header.bg-info {
  background-color: #508D4E;
}

.card-header.bg-warning {
  background-color: #E1A531;
}

.list-group-numbered {
  padding-left: 0;
}

.list-group-numbered .list-group-item {
  font-size: 1rem;
  color: #1A531B;
  border: none;
}

.list-group-numbered .list-group-item::before {
  color: white;
  font-weight: bold;
  padding: 6px 12px;
  margin-right: 10px;
  border-radius: 50%;
}

.row {
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

button {
  background-color: #4C8B67;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 1rem;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3a6e50;
}

@media (max-width: 768px) {
  .container {
      padding: 20px;
  }

  h1 {
      font-size: 2rem;
  }

  .card-header {
      font-size: 1.6rem;
  }
}
